#mainStyle {

  display:grid;
  grid-template-columns: minmax(0px,1fr)  1024px minmax(0px,1fr);
  grid-template-rows: 1fr;
  /* text-align: center; */
  /* 양 옆 마진  */

  /* 그리드 간격 50px */
  /* gap: 50px; */
  /* gap: 40px; */


  grid-template-areas: 
  ". mainContent . "; 
}

#mainContent {

  grid-area: mainContent;

  /* border: solid 1px; */

  padding-top: 50px;
}
/* 공통 css */
/* 제목 단 */
.title {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left:30px ;
  border-left: solid gray;
}
/* 부제목 단 */
.subtitle {
  font-size: 1.3rem;
  font-weight: bold;
  background-color: rgb(54, 82, 168);
  line-height: 50px;
  color: white;
  padding-left: 20px;
  border-radius: 20px;
  text-align: center;
}
/* 부부제목 */
.subsubtitle {
  font-size: 1.3rem;
  font-weight: bold;
  color: rgb(54, 82, 168);
}
/* h2 대신 사용 */
.miniTitle {
  font-size: 1.3rem;
  font-weight: bold;

}
/* 필드셋 경계선 */
.fieldtype {
  border-style: none;
  padding-left: 50px;
}
/* 센터 정렬 전용 클래스 */
.oncenter {
  text-align: center;
}
/* 공통 css 끝 */

/* 직업 추천 css 시작*/

/* 전체 감싸는 클래스 공통 글꼴 줄수 있다. */
.textarea {
  font-size: 1rem;

  line-height: 40px;

  padding: 50px 50px;

}
.intextarea{
  padding: 30px 50px;
}

/* 3단 텍스트 레이아웃 */
.inintextarea {
  padding-left: 30px;
}
/* 리스트 인라인 블록으로 */
.testlist li{
  display: inline-block;
  padding-left: 20px;
}

/* 결과보기 버튼 */
.submitbutton {
  font-size: 1.125rem;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  color: white;
  background-color: rgb(54, 82, 168);
  border: none;
  font-weight: bold;
}
.submitbutton a{
  color: white;
}
/* 공통 css 끝 */


/*도입배경 파란 리스트  */
.blueList {

  list-style-type: disc;
  padding-left: 10%;

  border-radius: 20px;

  font-weight: bold;

}

.blueList li {
  line-height: 50px;
}

.blueList li:nth-child(even){
  color:  rgb(76, 111, 219);
}

.blueList li:nth-child(odd){
  color:rgb(54, 82, 168);
}

/* 이용대상 */
.tableListBox {
  width: 100%;
}
.tablelist {

  list-style-type: disc;
  padding-left: 10%;

  border-radius: 20px;

  font-weight: bold;

}

.tablelist li {
  line-height: 50px;

  list-style-type: decimal;
}

.tablelist li:nth-child(even){
  color:  rgb(76, 111, 219);
}

.tablelist li:nth-child(odd){
  color:rgb(54, 82, 168);
}

.tablelist li::marker {
  color: rgb(54, 82, 168);
  font-family: 'Black Han Sans';
  border-radius: 50%;
}

.miniTitle {
  font-size: 1.3rem;
  font-weight: bold;

}

/* 학은제 대학교 차이 */

/*인라인 리스트  */
.inlineList li{
  

}
.inlineList {
}

/* 테이블 */
#defferTable {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  border: solid 0.5px gray;
}

#defferTable th{
  font-size: 1.3rem;
  text-align: center;
  border: solid 0.5px gray;
  height: 50px;


}

#defferTable td{
  border: solid 0.5px gray;
  height: 50px;
  background-color: rgb(245, 245, 245);
}

#defferTable thead{
  background : rgb(76, 111, 219);
  height: 50px;
  color: white;
}



.listInTd {
  text-align: left;

}
.listInTd ul li {
  list-style-type: disc;
  /* font-style: italic; */
  /* font-weight: bold; */
  /* font-size: 1.15rem; */
  /* padding-left: 50px; */
  /* display: inline-block; */
}

.listInTd ul li::marker {
  color: skyblue;
}
/* 테이블 소제목 */
.thcolor {
  background-color:rgb(76, 111, 219);
  color: white;
}
/* 테이블 소소 제목 */
.thcolor2 {
  background-color: rgb(192, 218, 243);
  color: white;
}
